<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <div class="row">
        <div class="span4">
          <div class="well">
            <h5>My humble servants,</h5>
            <p>It has been decided to add optimization for <strong>STALKING!</strong> :)
              Don't believe me? Click on the users tab to find out.</p>
            <p>Additionally, I hope you are all as excited as I am that you can now post random gibberish on the public domain.</p>
            <h5>Cheer for, not against.</h5>
          </div>
        </div>
      </div>

    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 