<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 100 %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
	<div class="row">
	    <div class="span4">
			<div class="well">
			  	<h5>My humble servants,</h5>
			  	<p>It has been decided to add optimization for <strong>STALKING!</strong> :)
			  	Don't believe me? Click on the users tab to find out.</p>
			  	<p>Additionally, I hope you are all as excited as I am that you can now post random gibberish on the public domain.</p>
			  	<h5>Cheer for, not against.</h5>
			</div>
		</div>
	</div>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>